
@{
    ViewBag.Title = "首页";
}

<h2>首页</h2>
打开页面时，授权过滤器对除了公开的模块页面外，进行授权验证。<br />
登陆、注册页面任何人可以访问，不属于权限模块。<br />
用户管理、角色管理、模块管理、用户角色管理、角色模块管理，五个权限管理页面和其他需要授权的模块，在数据库事先配置好。<br />
后台至少由三个部分视图（方法）组成：头部、导航栏、内容。<br />
导航栏（方法）读取登陆用户的角色模块并渲染。<br />

