@{
    Layout = "../_LayoutForm.cshtml";
}

<form class="bootstrap-frm">
    <h1>角色管理 - 新增</h1>
    <label>
        <span>角色名称</span>
        <input type="text" name="name" placeholder="请输入角色名称" />
    </label>
    <label>
        <span>&nbsp;</span>
        <input type="button" class="button" value="提交" />
    </label>
</form>

@section Script{
    <script>
        $(".button").click(function () {
            parent.location.reload();
            $.ajax({
                url: '@Url.Action("Save", "Role")',
                type: 'post',
                data: $("form").serialize(),
                success: function (data) {
                    if (data.code === 200) {
                        //假设这是iframe页
                        var index = parent.layer.getFrameIndex(window.name);//先得到当前iframe层的索引
                        parent.layer.close(index);//在执行关闭
                    } else {
                        alert("提交失败");
                    }
                }
            });
        });
    </script>
}
