<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <link href="~/Content/form.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
</head>

<body>
    @RenderBody()
    @RenderSection("Script",false)
</body>

</html>
